header ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

header ul a {
    text-decoration: none;
    color: black;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
}

.container {
    width: 1300px;
    margin: 0 auto;
} 

header {
    background-color: #F3D7B7;
    padding: 10px 0;
}

.intro {
    background-color: #F3D7B7;
}

.intro .container {
    display: flex;
}

.intro-img {
    position: relative;
    top: -150px;
    left: 100px;
}

.label-img {
    position: relative;
    top: -20px;
    z-index: 1;
}

.intro .left h1 {
    font-size: 52px;
    animation-name: slideX;
    animation-duration: 2s;
    z-index: 2;
}

.intro .left p {
    line-height: 22px;
    margin-bottom: 50px;
    animation-name: slidex;
    animation-duration: 2s;
}

.intro .left .plan {
    animation-name: slideY;
    animation-duration: 2s;
}

.intro .left a {
    text-decoration: none;
    background-color: #0A775F;
    color: white;
    padding: 15px 20px;
    border-radius: 30px;
}

.intro .left a:hover {
    background-color: #10ad8b;
}

.intro .right {
    height: 700px;
}

.col-sec {
    padding-top: 100px;
    background-color: beige;
}

.col-sec h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
}

.col-sec .collection {
    display: flex;
    width: 50%;
    margin: 0 auto;
    gap: 100px;
}

.col-sec .collection img {
    height: 200px;
}

.col-sec .collection img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

footer {
    background-color: #F3D7B7;
    padding: 20px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer .container img {
    height: 100%;
}

footer ul {
    list-style: none;
    display: flex;
    gap: 30px; 
}

footer ul a {
    text-decoration: none;
    color: black;
}

@keyframes slideX {
    from {
        transform: translateX(110vh);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slidex {
    from {
        transform: translateX(-110vh);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideY {
    from {
        transform: translateY(110vh);
    }

    to {
        transform: translateY(0);
    }
}